* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .indeks-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .form-index {
    width: 200px;
    }

.form-index input[type="submit"] {
    width: 140px;
    height: 70px;
    background-color: #751315;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.form-index input[type="submit"]:hover {
    background-color: #600b0e;
    transition: background-color 0.2s;
}

@media screen and (max-width: 800px) {
    .header-img {
        margin-bottom: 10px;
    }
    
    img {
        max-width: 80%;
    }
    
    .form-index {
        margin: 10px;
    }
}